$bkgray: #f5f5f5;
$black: #000;
$border: #e4e4e4;
$darkgray: #888;
$github-blue: #4078c0;
$lightgray: #a9b0be;
$evilgrey: #666;
$white: #fff;
$newgreen: #8bc649;

@mixin hover-blue {
  &:hover {
    color: $github-blue;
    content: '';
}
}

// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
//Top Row
.mega-octicon {
  font-size: 27px;
}

.top-row {
  background-color: $bkgray;
  border-bottom: .5px solid $border;
  height: 50px;
}

.top-row>a {
  @include hover-blue;

  color: $black;
  font-size: 27px;
  margin-left: 90px;
  margin-top: 10px;
  padding-right: 7px;
  text-decoration: none;
}

.github-search {
  color: $lightgray;
  display: inline-block;
  height: 25px;
  margin-top: 10px;
  width: 360px;
}
//Top row navigation
.top-nav {
  display: inline-block;
  padding: 0 auto; //Can't control space or 40px padding betweeen box and Pull requests UL

  ul {
    margin-left: 10px;
  }

  li {
    display: inline;
    font-size: 13px;
    font-weight: bold;
    list-style: none;
    padding-left: 0;
    padding-right: 15px;
  }

  a {
    @include hover-blue;
    color: $black;
    display: inline-block;
    text-decoration: none;
  }
}
//Top Right corner
h5 {
  @include hover-blue;
  display: inline-block;
  font-size: 20px;
  margin-left: 250px;
}

.corner-nav {
  display: inline-block;

  img {
    height: 20px;
    width: 20px;
  }

  i {
    @include hover-blue;
    font-size: 15px;
  }
}

.new-repo {
  padding-right: 15px;
}
//Profile
.center-section {
  margin-top: 22px;
}

.profile-pic {
  border-radius: 2.5%;
  height: 230px;
  width: 230px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.loginid {
  color: $evilgrey;
  font-size: 20px;
  font-weight: 200;
  margin-top: 0;
}

.bio {
  background-color: $newgreen;
  color: $white;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  margin-right: 10px;
  width: 25px;
}

//Repos
.tabs {
  ul {
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
  }

  a {
    float: right;
    text-decoration: none;


    &:hover {
      background-color: $bkgray(darken, 70%);
      content: ''; //does not work-will not change on hover
    }
  }
}

.repo-tab {
  border-bottom: 0;
  border-left: 1px solid $lightgray;
  border-right: 1px solid $lightgray;
  border-top: 1px solid $lightgray;
}

.edit-button {
  background-color: $bkgray;
  border: 1px solid $lightgray;
  display: inline-block;
  font-weight: bold;
}

.nav-repos {
  border-bottom: 1px solid $lightgray;
  border-top: 1px solid $lightgray;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    text-decoration: none;
  }
}

.repos-search {
  display: inline-block;
  margin-left: 0;
  margin-top: 15px;
  padding-left: 0;
  width: 260px;
}

.repo-search-button {
  display: inline-block;

}

.current-filter {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.repo-link {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.language {
  color: $darkgray;
  float: right;
  font: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
